.ui-loader {
    display: none !important;
}
body {
    background-image: linear-gradient(45deg, #007adf, #00ecbc);
    background-repeat: no-repeat;
    background-size: cover;
}
:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.container1 {
    position: relative;
    color: black;
    font-family: "Cambria Math";
    font-size: 17px;
}

tr.noBorder td {
    border: 0;
}